<h1>My Tasks</h1>

<ul style='list-style: none'>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed %>
      <i class="fa-solid fa-square-check"></i>
    <% else %>
      <i class="fa-solid fa-square"></i>
    <% end %>
    <%# <%= check_box_tag [], task.completed %>
    <%= link_to task.title, task_path(task) %> <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe,
                                                                task_path(task),
                                                                method: :delete,
                                                                data: { confirm: 'Are you sure you want to delete this task'}
                                                                %>
    </li>

  <% end %>
</ul>

<%= link_to 'Add a new task', new_task_path %>
